@font-face {
    font-family: 'etbookot';
    src: url('../fonts/etbookot-roman-webfont.woff2') format('woff2'),
         url('../fonts/etbookot-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'etbookot-italic';
    src: url('../fonts/etbookot-italic-webfont.woff2') format('woff2'),
         url('../fonts/etbookot-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'etbookot', serif;
    font-size: 1.25rem;
    line-height: 1.875rem;
    width: 90%;
}

.content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
a {
    color: #000;
}

p {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

ol {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


h1 {
    font-size: 2.6rem;
    font-weight: normal;
    line-height: 3rem;
}

h2 {
    font-family: "etbookot-italic";
    font-size: 1.6rem;
    font-weight: normal;
    font-style: italic;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-size: 1.6rem;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
}

img {
    width:100%;
    max-width: 100%;
}

.author {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.sidebar {
    position: absolute;
    right: 5rem;
    margin-top: 1rem;
}

ul.list-unstyled {
    padding: 0;
    margin: 0;
}

.list-unstyled {
    list-style: none;
}

.list-unstyled li {
    margin-top: 0.5rem;
}

.lh-1 {
    line-height: 1rem;
}

.mt-0 {
    margin-top: 0;
}

.mt-2 {
    margin-top: 2rem;
}
.mt-5 {
    margin-top: 5rem;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-2 {
    margin-bottom: 2rem;
}

.m-auto {
    margin: auto;
}

.w-90 {
    width: 90%;
}

.d-flex {
    display: flex;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-black {
    color: #000;
}

.btn {
    background-color: #fff;
    border: 2px solid black;
    font-size: 1.1rem;
    line-height: 35px;
    margin-top: 2rem;
    cursor: pointer;
}

.hidden {
    display: none;
}

.editor {
    margin-left: auto;
    margin-right: auto;
}

.CodeMirror {
    font-family: Menlo, "Deja Vu Sans Mono", "Roboto Mono", "Courier New", Courier, monospace;
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-size: 12px;
    line-height: 1rem;
}

.inline-variable {
    font-style: normal;
    font-weight: bold;
}

.error {
    font-family: Menlo, "Deja Vu Sans Mono", "Roboto Mono", "Courier New", Courier, monospace;
    font-size: 0.75rem;
    color: red;
}

footer {
    height: 50px;
    color: gray;
    font-size: 0.9rem;
}

@media (min-width: 720px) {

    p {
        width: 45%;
        margin-left: auto;
        margin-right: auto;
    }
    ol {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }

    .w-md-40 {
        width: 40%;
    }

    img {
        padding-top: 2rem;
        width:80%;
        max-width: 100%;
    }

    .editor {
        width: 70%;
    }

    h2 {
        font-family: "etbookot-italic";
        font-size: 1.6rem;
        font-weight: normal;
        font-style: italic;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        width: 45%;
    }

    h3 {
        font-size: 1.6rem;
        font-weight: normal;
        margin-left: auto;
        margin-right: auto;
        width: 45%;
    }
    
    h4 {
        font-weight: normal;
        margin-left: auto;
        margin-right: auto;
        width: 45%;
    }
  
}

@media (max-width: 576px) {
    .d-mobile-none {
        display: none;
    }

   
}
